@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css"/>

    <title>Login</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="col-md-12">
                <label for="username">用户名</label>
                <input id="username" name="username" type="text" />
            </div>

            <div class="col-md-12">
                <label for="password">密码</label>
                <input id="password" name="password" type="password" />
            </div>

            <button class="btn-primary">Login</button>
        }     
    </div>


    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
